{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BoFieldConfiguration edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('boconfiguration_edit', { 'id': entity.bo.id }) }}">
                Back to the list
            </a>
        </li>
    </ul>
    <fieldset>
        <legend>Подсказки</legend>
        one-to-many должно иметь targetEntity<br/>
        Если one-to-many двунаправленное, то<br/>
        one-to-many должно иметь mappedBy<br/>
        many-to-one должно иметь inversedBy<br/>
    </fieldset>
{% endblock %}
